body
{
	box-sizing: border-box;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background-color: rgb(23,44,60);
	color: white;
}
.body
{
	font-size: 18px;
	padding: 277px 50px;
	text-align: center;
	transition: 1s;
}
.body.in
{
	font-size: 14px;
	padding: 0;
	text-align: left;
}
.body>.params
{
	box-shadow: 0 0 8px rgb(30,50,64);
	border-radius: 3px; 
	padding: 20px 60px;
	background: rgb(39,72,68);
	width: 450px; 
	margin:auto;
	transition: 1s;
	text-align: center;
}
.body.in>.params
{
	text-align: center;
	border-radius: 0px; 
	padding: 10px 20px;
	width: 100%;
	transition: 1s; 
}
.body.in>.params .radio-hand
{
	float: right;
}
.file-btn
{
	width: 80px;
	height: 30px;
	background-color: #009900;
	position: relative;
	color: white;
	border: 1px solid #007700; 
	border-radius: 3px;
}
.file-btn>input
{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	left: 0;
	top: 0;
}
.input-num
{
	width: 3.0em;
}
.body .params-submit
{
	width: 75%;
	margin: 10px 0;
	line-height: 2.0em;
	background-color: #009900;
	border: 1px solid #007700; 
	color: white;
	font-size: 1.1em;
	border-radius: 3px;
}
.body.in .params-submit
{
	width: auto;
	height: 30px;
	vertical-align: middle;
	margin: 0 10px;
	display: inline-block;
}
.params-form
{
	width: 100%;
}
.body .params-item
{
	text-align: left;
	margin-bottom: 0.8em;
}
.body.in .params-item
{
	text-align: left;
	margin-bottom: 0;
	display: inline-block;
}
.body.in .params-items
{
	text-align: center;
	margin-bottom: 0;
	display: inline-block;
}
.body.in .params-items+.params-items
{
	margin-top: 10px;
}
.body.in .params-item+.params-item
{
	margin-left: 20px; 
}
.body.in .params-header
{
	display: none;
}
.page-footer
{
	margin-top: 10px;
	text-align: center;
	width: 100%;
	padding: 10px;
	background-color: rgb(39,72,68);
}
.body .content
{
	display: none;
}
.body.in .content
{
	display: block;
	margin-top: 10px;	
	text-align: center;	
}
.body.in .graph
{
	width: 45%;
	background-color: rgb(32,32,32);
	text-align: center;
	display: inline-block;
	height: 772px;
	padding: 0 10px;
	box-shadow: 0 0 8px rgb(30,50,64);
}
input,select
{
	border: 1px solid #ccc;
	border-radius: 3px;
    padding: 2px;
}
input.info
{`
	border: 1px solid #5cd3d9;
	transition: 0.5s; 
}
input.warning
{
	border: 1px solid #ebe412;
	transition: 0.5s; 
}
input.dange
{
	border: 1px solid red;
	transition: 0.5s; 
}
.nochecked
{
	color: #999;
}
.nochecked button
{
	color: #999;
	cursor: disabled;
}
.body .full-select
{
	width: 400px;
}
.body .radio-hand
{
	float: right;
}
.body.in .full-select
{
	width: auto;
}
.body.in .radio-hand
{
	float: none;
}
#dataset_btn,#algorithm_btn,.body.in #start_btn
{
	display: none;
}
.body.in #dataset_btn,.body.in #algorithm_btn
{
	display: inline-block;
}
.collapse
{
	display: none;
	height: 0;
	transition: .5s;
}
.collapse.in
{
	display: inherit;
	height: inherit;
	transition: .5s;
}
.body.in .collapse
{
	display: none;
	height: inherit;
	width: 0;
	transition: 1s;
}
.body.in .collapse.in
{
	display: inherit;
	width: inherit;
	height: inherit;
	transition: 1s;
}